<!DOCTYPE html>
<html>
<head>
    <title>Recuperar Password</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
</head>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
    <form ng-show="show_form">
        <label>Dame tu usuario:</label><br>
        <input type="text" ng-model="usuario.usuario"><br>
        <input type="submit" value="Recuperar" ng-click="btnRecuperar(usuario)"><br>
    </form>
    <span ng-show="show_alert">Alerta! Usuario no encontrado, intentalo de nuevo.</span>
    <span ng-show="show_alert_ok">Se envio un mail a tu cuenta de correo electronico, con el nuevo password.</span>
</div>
</body>
<script type="text/javascript">
    var app = angular.module("myApp", []);
    app.controller("myCtrl", function($scope, $http) {
        $scope.show_form = true;
        $scope.show_alert = false;
        $scope.show_alert_ok = false;
        $scope.btnRecuperar = function (item) {
              $http.post("http://localhost:3000/login", item).success(function(data){
                console.log(data);
                if (data.err == true) {
                    $scope.show_form = true;
                    $scope.show_alert = true;
                    $scope.show_alert_ok = false;
                } else {
                    $scope.show_form = false;
                    $scope.show_alert = false;
                    $scope.show_alert_ok = true;
                }
            });
        }
});
</script>
</html>
